#profile-thumbnail{
  width: 43px;
  height: 43px;
  border-radius: 50px;
  border: 0.5px solid #c1c1c1;
  cursor: pointer;
  margin-right: 50px;
}

#dropdown{
  background-color: #fff;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  padding: 10px;
  width: 70%;
  margin-left: 30%;
}

#dropdown-upper{
  border-bottom: 0.5px solid #c1c1c1;
  color: #000;
}

#dropdown-upper img{
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: 0.5px solid #c1c1c1;
  margin: 10px auto;
  display: flex;
}

#dropdown-lower ul{
  padding: 0;
  margin-top: 10px;
}

#dropdown-lower li{
  display: block;
  list-style: none;
  padding: 0;
}

#dropdown-lower a{
  display: block;
  color: #999;
  padding: 5px 20px !important;
  font-weight: 400 !important;
}

#dropdown-lower .dropdown-link:hover{
  background: #fff !important;
  color: #291f71 !important;
}

.dropdown-icon{
  position: initial;
  display: initial !important;
  font-size: 1.25em !important;
  margin-top: 10px;
  vertical-align: middle;
}